
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;
}

p {
    border: none;
    padding: 12px 35px;
    width: 40%;
    letter-spacing: 2px;
}